<div class="chat-header" [ngSwitch]="getChatHeaderDisp">

    <ng-container *ngSwitchCase="'DisplaySearch'">
      <ng-template #inputBoxTemplate>
        <p>To:</p>
  
        <input 
          toggleSearchResults
          focusInput
          
          #searchInput
          class="msg-search-text-area"
          (keyup)="onKeyUp($event)"
          ibmText
          size="xl"
          theme="light"
          placeholder=""
        > 
      
    </ng-template>
    

    <app-user-search
      [inputBoxTemplate]="inputBoxTemplate"
      [location]="'messages'"></app-user-search>

    </ng-container>
    
    <ng-container *ngSwitchCase="'DisplayUser'">
      <img class="user-image" [src]="user.imageURL" width="32" />
      <p class="username">{{user.username}}</p>
    </ng-container>

  </div>

  