.chat-header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  // border-bottom: 1px solid $ui-03;
  border-bottom: 1px solid #E0E0E0;

  p {
    margin-left: 16px;
    // color: $text-03;
    color: #161616;
    font-size: 14px;
    // @include carbon--type-style("body-short-01");
    // color: $text-01;
  }

  .msg-search-text-area {
    outline: none;
    border-bottom: none;
  }

  img {
    border-radius: 50%;
    margin-left: 16px;
  }

  .username {
    font-weight: 700;
    // @include carbon--type-style("productive-heading-02");
    // color: $text-01;
    color: #161616;
    font-size: 16px;
  }
}