version: "3.8"
services:
  frontend: # name of the first service
    container_name: frontend
    build: ./client # specify the directory of the Dockerfile
    volumes:
      - ./client:/app/
      - /app/node_modules
    working_dir: /app/
    ports:
      - "3000:3000" # specify port forwarding
    command: npm start

  #   links:
  #     - "express"
  #   depends_on:
  #     - "express"

  postgres:
      image: maven
      container_name: server
      volumes:
        - "./:/app"
        # Mounting user's local .m2-directory,
        # for custom settings.xml and for caching dependencies.
        - "~/.m2:/root/.m2"
      ports:
        - 5005:5005 # Debug port
        - 8080:8080 # Backend HTTP server port
      working_dir: /app/
      command: bash -c "mvn quarkus:remote-dev && -Ddebug=false && -Dquarkus.package.type=mutable-jar && -Dquarkus.live-reload.url=http://localhost:8080 && -Dquarkus.live-reload.password=123"