version: "3.8"

services:
  frontend: # name of the service
    container_name: frontend
    build:
      context: ./client #  directory of the Dockerfile
      dockerfile: Dockerfile
    volumes:
      - ./client:/app/
      - /app/node_modules
    ports:
      - "3000:3000" # specify port forwarding
    command: npm start
  #   links:
  #     - "express"
  #   depends_on:
  #     - "express"

  postgres:
    container_name: postgres
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: igor_postgres
      POSTGRES_DB: instagram_clone_postgres
      POSTGRES_PASSWORD: secret
  
  redis:
    container_name: redis
    image: redis
    ports:
      - "4000:4000"