<div class="post-page-wrapper">

  <section class="post-page-image">
    <img src="{{post.imageURL}}" width="600" />
  </section>
  
  <section class="post-page-comments">

    <div class="post-page-header">

      <div class="post-page-owner-image">
        <a ibmLink [routerLink]="['/user', post.owner.username]">
          <img src="{{post.owner.imageURL}}" width="32"/>
        </a>
      </div>
      
      <div class="post-page-owner-links"> 
        <a class="post-page-owner-username" 
          ibmLink [routerLink]="['/user', post.owner.username]">@{{post.owner.username}}</a>
        <span class="post-page-dot">•</span>

        <ng-content select="followBtns" *ngIf="isSignedIn()">
        </ng-content>
        <div #followBtns>
          <button (click)="followUserBtn()"  *ngIf="!isPostOwner() && !followsUser()">Follow</button>
          <button (click)="unfollowUserBtn()" *ngIf="!isPostOwner() && followsUser()">Unfollow</button>
        </div>

        <span *ngIf="!isPostOwner() && isSignedIn()" class="post-page-dot">•</span>
        
        <a ibmLink [routerLink]="['/post', post.id]">See Post</a>
      </div>

    </div>
    
    <ul class="post-page-comment-list">
      <li *ngFor="let comment of post.comments">

        <div class="post-page-commenter-image">
          <a [routerLink]="['/user', comment.sender.username]">
            <img src="{{comment.sender.imageURL}}" width="32"/>
          </a>
        </div>

        <div class="post-page-comment-content">
          <p>
            <a ibmLink [routerLink]="['/user', comment.sender.username]" 
              class="post-comment-sender">@{{comment.sender.username}}</a> 
            {{comment.comment}}
          </p>
          <span class="post-comment-date">{{comment.date | timeAgo}}</span>
        </div>

      </li>

    </ul>

    <div class="post-page-stat">

      <div class="post-page-like-btn">

        <svg 
          *ngIf="hasUserLikedPost() else unfilledFavoriteIcon"
          (click)="toggleLikePostBtn()" 
          class="filledFavoriteIcon"
          ibmIconFavoriteFilled size="20" title="Number of likes"></svg>
        <ng-template #unfilledFavoriteIcon>
          <svg (click)="toggleLikePostBtn()" ibmIconFavorite size="20" title="Number of likes"></svg>
        </ng-template>

        <span *ngIf="post.numOfLikes === 1 else manyLikes">{{post.numOfLikes}} like</span>
        <ng-template #manyLikes>{{post.numOfLikes}} likes</ng-template>
      </div>

      <span class="post-page-date">{{post.date | date}}</span>

    </div>

    <div class="post-page-comment-text-input" [ngSwitch]="isSignedIn()">
      <input
        *ngSwitchCase=true
        [value]=""
        (keydown.enter)="getCommentValue($event.target)"
        ibmText
        size="xl"
        theme="light"
        placeholder="Add a comment..."
      >
      <p *ngSwitchCase=false>
        <a ibmLink [routerLink]="['/login']">Log in</a> 
        to like or comment.</p>
    
      </div>
    
  </section>

</div>