<div class="users-search-box">
  <ibm-search
    #searchBox
    [theme]="theme"
    [placeholder]=""
    [disabled]="disableSearchBox()"
    [size]="size"
    (valueChange)="searchBoxValueChange($event)"
    (clear) = "clearSearchBox()"
    >
  </ibm-search>
  
  <ul #searchBoxResults class="search-results-display" *ngIf="searchResultsDisp">

    <ng-container *ngIf="searchResultsList.length > 0 else emptySearch">
      <li *ngFor="let result of searchResultsList" class="search-result-list-item">
        <a [routerLink]="['user', result.username]">
          <img [src]="result.imageURL" width="40" />
          <span>@{{result.username}}</span>
          <span>{{result.fullName}}</span>
        </a>
      </li>
    </ng-container>

    <ng-template #emptySearch>
      <li class="search-result-empty">No results found.</li>
    </ng-template>
    
  </ul>

</div>