<ng-container [ngTemplateOutlet]="inputBoxTemplateRef"></ng-container>

  <div 
  [searchResultsLocation]="location" 
  role="listbox"
  (click)="$event.stopPropagation()"
  class="search-results-display" 
  *ngIf="getSearchResultsDisplay">
  
  <ng-container *ngIf="getSearchResultsList.length > 0 else emptySearch">
    <ibm-overflow-menu-option
      toggleSearchResults
      (click)="setRoute(result)" 
      *ngFor="let result of getSearchResultsList" 
      role="option" 
      class="search-result-list-item"
      #searchResultOption
    >
      <img [src]="result.imageURL" width="40" />
      <span>@{{result.username}}</span>
      <span>{{result.fullName}}</span>
    </ibm-overflow-menu-option>

  </ng-container>


  <ng-template #emptySearch>
    <div class="search-result-empty">No results found.</div>
  </ng-template>


</div>