/* You can add global styles to this file, and also import other style files */

@import '~carbon-components/scss/globals/scss/styles.scss'; // Carbon components styles
@import '~carbon-components/scss/globals/scss/_typography.scss'; // Carbon typography tokens
@import '~carbon-components/scss/globals/scss/_colors.scss'; // Colors


@import './1-layouts/layouts-dir.scss';
@import './2-components/components-dir.scss';

body {
  background-color: $gray-10;
}

$feature-flags: (
  grid-columns-16: true
);
