// Header bg color
.header-wrapper {
  background-color: $carbon--white-0;
  border-bottom: 1px solid $gray-20;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  max-width: 928px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Header brand
div.header-brand {
  flex: 1;
  a {
    text-decoration: none;
  }
  h1 {
    display: inline;
    color: $gray-70;
    @include carbon--type-style('productive-heading-03');
  }
}

// Search bar
.header-search {
  flex: 1;
  max-width: 215px;
}

// Header icons
.header-icons {
  flex: 1;
  text-align: right;
  a {
    margin-left: 28px;
  }
  img {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid black;
  }
}

