<div class="message-display-container" *ngIf="chatSelected else noChatSelected">
  
  <div class="friend-avatar">

    <img src={{chatInfo[1].imageURL}} width="24"/>

    <span>{{chatInfo[1].username}}</span>
  
  </div>

  <ul class="message-list" #messageList>

    <li
      [ngClass]="checkIfAccountOwner(message.sender)"
      *ngFor="let message of chatInfo[0]">

      <span>{{message.content}}</span>
    
    </li>

  </ul>

  <div class="message-text-input" [ngSwitch]="isSignedIn()">
    <input
      *ngSwitchCase=true
      [value]=""
      (keydown.enter)="getCommentValue($event.target)"
      ibmText
      size="xl"
      theme="light"
      placeholder="Type something"
    >
    <p *ngSwitchCase=false>
      <a ibmLink [routerLink]="['/login']">Log in</a> 
      to like or comment.</p>
  
  </div>

</div>

<ng-template #noChatSelected>
  <div class="no-msg-selected">
    <img src="../../../assets/images/send--alt.svg" width="100"/>
    <h2>Your Messages</h2>
    <p>Send private messages to a friend.</p>

    <app-send-message-btn 
    ibmButtonType="primary"
    [iconOnlyFlag]=false>
      <ng-template #buttonContent>Send Message</ng-template>
    </app-send-message-btn>

  </div>
</ng-template>