<div class="message-display-container" *ngIf="messageSelected else noMessageSelected">
  <p>message</p>
</div>

<ng-template #noMessageSelected>
  <div class="no-msg-selected">
    <img src="../../../assets/images/send--alt.svg" width="100"/>
    <h2>Your Messages</h2>
    <p>Send private messages to a friend.</p>

    <app-send-message-btn 
    ibmButtonType="primary"
    [iconOnlyFlag]=false>
      <ng-template #buttonContent>Send Message</ng-template>
    </app-send-message-btn>

  </div>
</ng-template>