.no-msg-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3.5rem);

  * {
    margin-bottom: 12px;
    &:nth-child(3) {
      margin-bottom: 40px;
    }
  }
  h2 {
    // @include carbon--type-style("productive-heading-03");
    // color: &text-01;
    font-size: 20px;
    color: #161616
  }
  p {
    // @include carbon--type-style("body-short-02");
    // color: &text-03;
    font-size: 16px;
    color: #a8a8a8;
  }
}