.message-display-container {
  .friend-avatar {
    position: relative;
    height: 3.5rem;
    // border-bottom: 1px solid $ui-03;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    img {
      margin-left: 24px;
      margin-right: 16px;
      border-radius: 50%;
    }
    span {
      // @include carbon--type-style("body-short-02");
      font-size: 16px;
      font-weight: 700;
    }
  }
  .message-list {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    height: calc(100vh - 512px);
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    // Shared chat bubble styles
    li {
      width: 100%;
      margin: 12px 0;
      display: flex;
  
      span {
        display: inline-block;
        padding: 12px 8px;
        max-width: 350px;
        // background-color: red;
        min-height: 40px;
    
        // ADD CARBON STYLES LATER
        color: white;
        font-size: 14px;
        border-radius: 8px;
      }
  
    }
  
    // Chat bubble style for account owner
    .account-owner-bubble {
      justify-content: flex-end;
      span {
        background-color: #0f62fe;
        // background-color: $interactive-01;
      }
    }
    
    // Chat bubble style for other person
    .other-person-bubble {
      span{
        background-color: #3D3D3D;
      }
    }
  }    
  

  .message-text-input {
    // border-top: 1px solid $ui-03;
    border-top: 1px solid #E0E0E0;
    input {
      border-bottom: none;
    }
  } 

}

.no-msg-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3.5rem);

  * {
    margin-bottom: 12px;
    &:nth-child(3) {
      margin-bottom: 40px;
    }
  }
  h2 {
    // @include carbon--type-style("productive-heading-03");
    // color: &text-01;
    font-size: 20px;
    color: #161616
  }
  p {
    // @include carbon--type-style("body-short-02");
    // color: &text-03;
    font-size: 16px;
    color: #a8a8a8;
  }
}

