footer {
  border-top: 1px solid $gray-20;
  margin-top: 64px;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-icons {
    margin-top: 32px;
    margin-bottom: 24px;
    svg {
      display: inline;
      fill: $gray-70;
      margin-left: 32px;
    }
  }
  p {
    @include carbon--type-style('body-short-01');
  }
}
