// Header bg color
.header-wrapper {
  background-color: $carbon--white-0;
  border-bottom: 1px solid $gray-20;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  max-width: 928px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Header brand
div.header-brand {
  flex: 1;
  a {
    text-decoration: none;
  }
  h1 {
    display: inline;
    color: $gray-70;
    @include carbon--type-style('productive-heading-03');
  }
}

// Header icons
.header-icons {
  flex: 1;
  text-align: right;
  a, button {
    margin-left: 28px;
  }
  img {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid $gray-70;
  }
  button.bx--btn--sm {
    padding: 0;
    background: none;
    min-height: auto;
    position: relative;
    .header-overflow-menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      transform: translate(-184px, 85px);
      background-color: $carbon--white-0;
      border: 0;
      filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));
      z-index: 100;
      li {
        width: 200px;
        height: 48px;
        padding: 16px;
        @include carbon--type-style('body-short-01');
        color: $gray-100;
        &:hover, &:focus {
          background-color: $hover-ui;
          outline-color: $link-01;
        }
        &:active, &:visited {
          background-color: $hover-selected-ui;
        }
      }
    }
  }
}

