// Login and sign up pages share form classes due to almost identical structure

// Common styles
.login-signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 128px;
  .login-signup-container {
    margin-top: 24px;
    width: 350px;
    display: flex;
    flex-direction: column;
    form {
      h1 {
        margin: 32px 0 0 16px;
        color: $gray-100;
        @include carbon--type-style('productive-heading-04');
      }
      background-color: $carbon--white-0;
      display: flex;
      flex-direction: column;
      ibm-label {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
        &:first-of-type {
          margin-top: 32px;
        }
      }
      button {
        margin-top: 8px;
        align-self: flex-end;
      }
    }
  }

  // Diverging styles here

  // Width of signup form container
  .signup-container-width, ibm-progress-indicator {
    width: 450px;
  }

  // Signup form margin
  ibm-progress-indicator {
    margin: 12px 0;
  }

  // Signup page helper text
  .signup-helper-text {
    margin: 0 0 0 16px;
    color: $gray-70;
    @include carbon--type-style('body-short-01');
  }

  // Login page helper text
  .login-helper-text {
    @extend .signup-helper-text;
    margin: 16px 0 0 0;
  }
}
