ibm-tile.post-wrapper {
  padding: 0;
  max-width: 300px;
  img {
    width: 100%;
  }
  .post-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .post-icon {
      display: flex;
      align-items: center;
      opacity: 0;
      span {
        color: #fff;
        // color: $white-0;
      }
      svg {
        margin-right: 8px;
        fill: #fff;
        // fill: $white-0;
      }
      &:last-child {
        margin-left: 30px;
      }
    }
  }
  &:hover {
    .post-overlay {
      opacity: 1;
      background-color: rgba(0,0,0,.3);
      .post-icon {
        opacity: 1;
      }
    }
  }
}