ibm-tile.post-wrapper {
  padding: 0;
  max-width: 300px;
  img {
    width: 100%;
  }
  .post-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .post-icon {
      display: flex;
      align-items: center;
      opacity: 0;
      span {
        color: #fff;
        // color: $white-0;
      }
      svg {
        margin-right: 8px;
        fill: #fff;
        // fill: $white-0;
      }
      &:last-child {
        margin-left: 30px;
      }
    }
  }
  &:hover {
    .post-overlay {
      opacity: 1;
      background-color: rgba(0,0,0,.3);
      .post-icon {
        opacity: 1;
      }
    }
  }
}

.post-owner {
  display: grid;
  grid-template-columns: 32px auto;
  grid-column-gap: 12px;
  grid-template-rows: 14px auto 0;
  grid-row-gap: 2px;
  margin-top: 16px;
  margin-left: 10px;
  img {
    width: 32px;
    border-radius: 50%;
    border: 1px solid $gray-70;
  }
  a.bx--link {
    @include carbon--type-style("body-long-01");
    font-weight: 700;
    color: $text-01;
    align-self: center;
    max-width: max-content;
    outline: none;
    &:hover {
      color: $text-01;
    }
  }
  span.date {
    grid-column-start: 2;
    @include carbon--type-style("body-long-01");
    font-size: 12px;
    color: $text-03;
  }
}