/*
  Positioning styles for search display results 
  menu are found in parent components
*/

.search-results-display {
  position: absolute;
  margin-top: 4px;
  width: 350px;
  height: 400px;
  z-index: 100;
  overflow-y: scroll;
  background-color: $carbon--white-0;
  border: 0;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));

  ibm-overflow-menu-option.search-result-list-item {
    height: fit-content; // buggy on Safari, to test
    padding: 0 16px;
    &:active, &:visited {
      background-color: $hover-selected-ui;
    }
    button {
      max-width: 100%;
      border-bottom: 1px solid $ui-03;
      outline: none;
      padding: 0;
      div.bx--overflow-menu-options__option-content {
        display: grid;
        grid-template-columns: 40px;
        grid-gap: 12px;
        width: 100%;
        padding: 8px;
        height: 3.5rem;
        text-decoration: none;
        @include carbon--type-style("body-short-01");
        img {
          border-radius: 50%;
        }
        span {
          grid-column-start: 2;
          grid-row-start: 1;
          &:first-of-type {
            align-self: start;
            font-weight: 700;
            color: $text-02;
          }
          &:last-of-type {
            align-self: end;
            color: $text-03;
          }
        }
      }
    }
  }
  div.search-result-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $text-03;
  }

}