// Search box for users
.users-search-box {
  height: 100%; // to inherit height of surrounding components

  ibm-search.bx--form-item {
    height: inherit;
    .bx--search {
      height: inherit;
      input.bx--search--xl {
        height: inherit;
        min-height: 3rem;
      }
    }
  }
  .search-results-display {
    position: absolute;
    margin-top: 4px;
    width: 350px;
    margin-left: -63px;
    height: 400px;
    z-index: 100;
    overflow-y: scroll;
    background-color: $carbon--white-0;
    border: 0;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.2));

    li.search-result-list-item {
      &:hover, &:focus {
        background-color: $hover-ui;
      }
      &:active, &:visited {
        background-color: $hover-selected-ui;
      }

      a {
        display: grid;
        grid-template-columns: 40px;
        grid-gap: 12px;
        width: 100%;
        padding: 8px;
        height: 3.5rem;
        text-decoration: none;
        border-bottom: 1px solid $ui-03;
        @include carbon--type-style("body-short-01");
        img {
          border-radius: 50%;
        }
        span {
          grid-column-start: 2;
          grid-row-start: 1;
          &:first-of-type {
            align-self: start;
            font-weight: 700;
            color: $text-02;
          }
          &:last-of-type {
            align-self: end;
            color: $text-03;
          }
        }
      }
    }
    li.search-result-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $text-03;
    }
  }
}