.messages-header {
  display: flex;
  position: relative;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  // border-bottom: 1px solid $ui-03;
  border-bottom: 1px solid #E0E0E0;
  h2 {
      // @include carbon--type-style("productive-heading-03");
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0px;
  }
  app-send-message-btn {
    position: absolute;
    right: 0;
    transform: translateX(-16px);
  }
}