<ul class="messages-chat-list">

  <ibm-tile 
    theme="light"
    *ngFor="let chat of chatList; let i = index" 
    [ngClass]="setChatItemStyles(i)" 
    (click)="openChat(chat)">

    <a [routerLink]="['/messages', chat.id]" [ngClass]="checkForUnreadMsgs(chat)">

      <ng-container *ngFor="let p of chat.participants">
        
        <img *ngIf="p.imageURL" [src]="p.imageURL" width="56"/>

        <span class="chat-username">
          
          {{p.username}}
        
        </span>
  
      </ng-container>
      
      <span class="chat-snippet">
        Message content • {{chat.date | timeAgo}}
      </span>

    </a>

  </ibm-tile>

</ul> 

