.messages-chat-list {
  overflow-y: scroll;
  height: calc(100% - 3.5rem);

/* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .chat-item {
    &:hover {
      background-color: red;
    }
    a {
      display: block;
      padding: 8px 28px;
    }
    img {
      border-radius: 50%;
    }
  }
}