<form [formGroup]="accountSettingsForm" (ngSubmit)=onSubmit()>
        
  <img src="{{accountOwner.imageURL}}" width="50" />

  <h2>{{accountOwner.username}}</h2>
  <a ibmLink>Change Profile Photo</a>

  <ibm-label>
    <label>Full Name</label>
  <input
    formControlName="fullName"
    ibmText
    size="md"
    theme="light"
    placeholder="{{accountOwner.fullName}}"
    autocomplete="autocomplete"
  />
  </ibm-label>

  <ibm-label
    [invalid]=false
    invalidText="Invalid email address">
    <label>Email</label>
  <input
    formControlName="email"
    ibmText
    size="md"
    theme="light"
    placeholder="{{accountOwner.email}}"
    autocomplete="autocomplete"
  />
  </ibm-label>
  
  <ibm-label
  [invalid]=false
  invalidText="Invalid website address">
  <label>Website</label>
  <input
    formControlName="website"
    ibmText
    size="md"
    theme="light"
    placeholder="{{accountOwner.website}}"
    autocomplete="autocomplete"
  />
  </ibm-label>

  <ibm-label
    helperText="Write a short profile description, under 150 words."
    [invalid]=false
    invalidText="You have exceeded the 150 word character count">
    <label>Description</label>
  <textarea
    ibmTextArea
    formControlName="description"
    [disabled]=false
    theme="light"
    [rows]="4"
    [cols]="1"
    aria-label="textarea"
    placeholder="{{accountOwner.description}}"></textarea>
  </ibm-label>


  <button type="submit" ibmButton="secondary">Cancel</button>
  <button type="submit" ibmButton="primary">Submit Changes</button>

</form>