<a [routerLink]="['/post', post.id]">
  <ibm-tile theme="light" class="post-wrapper" [id]="post.id">
    <img [src]="post.imageURL"/>

    <div class="post-overlay"> 
      <div class="post-icon">
        <svg ibmIconFavoriteFilled size="20" title="Number of likes"></svg>
        <span>{{post.numOfLikes}}</span>
      </div>
      <div class="post-icon">
        <svg ibmIconChat size="20" title="Number of comments"></svg>
        <span>{{post.numOfComments}}</span>
      </div>
    </div>

  </ibm-tile>

</a>

<div class="post-owner" *ngIf="hasNewsFeedRoute()"> 
  <a [routerLink]="['/user', post.owner.username]">
    <img [src]="post.owner.imageURL" />
  </a>
  <a ibmLink [inline]=false [routerLink]="['/user', post.owner.username]">{{post.owner.username}}</a>
  <span class="date">{{post.date | timeAgo }}</span>
</div>
