<ng-container [formGroup]="personalDetails">
  <ibm-label
      [invalid]=false
      invalidText="Invalid website address">
    <label> Website </label>
    <input
      formControlName="website"
      #website
      type="text"
      ibmText
      size="md"
      theme="dark"
      placeholder=""
      autocomplete="autocomplete">
    </ibm-label>

  <ibm-label
    helperText="Write a short profile description, under 150 words."
    [invalid]=false
    invalidText="You have exceeded the 150 word character count">
    Description
    <textarea
      ibmTextArea
      formControlName="description"
      [disabled]=false
      theme="dark"
      [rows]="4"
      [cols]="1"
      aria-label="textarea"></textarea>
  </ibm-label>
</ng-container>