<div class="user-info-image">
  <img src="{{user.imageURL}}" width="150" />
</div>

<section class="user-info-details">

  <div class="user-info-username">
    <h2>{{user.username}}</h2>
    <button *ngIf="isSignedIn" ibmButton="tertiary" size="sm"> Edit Profile</button>
  </div>

  <ul class="user-info-stats">
    <li>{{user.numOfPosts}} posts</li>
    <li>{{user.numOfFollowers}} followers</li>
    <li>{{user.numFollowing}} following</li>
  </ul>

  <div class="user-info-description">
    <h2>{{user.fullName}}</h2>
    <p>{{user.description}}</p>
    <a href='./' ibmLink [inline]=false>{{user.website}}</a>
  </div>

</section>
