<ng-container [formGroup]="accountDetails">
  <ibm-label
      [invalid]=false
      invalidText="Invalid email">
    <label>Email</label>
    <input
      formControlName="email"
      type="text"
      ibmText
      size="md"
      theme="dark"
      placeholder=""
      autocomplete="autocomplete">
  </ibm-label>

  <ibm-label>
  <label>Full Name</label>
  <input
    formControlName="fullName"
    ibmText
    size="md"
    theme="dark"
    placeholder=""
    autocomplete="autocomplete">
  </ibm-label>

  <ibm-label
    [invalid]=false
    invalidText="User name exists">
  <label>Username</label>
  <input
    formControlName="userName"
    ibmText
    size="md"
    theme="dark"
    placeholder=""
    autocomplete="autocomplete">
  </ibm-label>

  <ibm-label
    [invalid]=false
    invalidText="Invalid password">
  <label>Password</label>
  <input
    formControlName="password"
    ibmText
    size="md"
    theme="dark"
    placeholder=""
    autocomplete="autocomplete">
  </ibm-label>
</ng-container>