<div class="login-signup-wrapper">
  <!-- ADD IMAGE OF PHONES LATER -->
  
  <div class="login-signup-container">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>IGstagram Clone</h1>

      <ibm-label
        [invalid]=false
        invalidText="Invalid email">
      <label>Email</label>
      <input
        formControlName="email"
        ibmText
        size="md"
        theme="dark"
        placeholder=""
        autocomplete="autocomplete">
    </ibm-label>
  
    <ibm-label
      [invalid]=false
      invalidText="Invalid password">
    <label>Password</label>
    <input
      formControlName="password"
      ibmText
      size="md"
      theme="dark"
      placeholder=""
      autocomplete="autocomplete">
    </ibm-label>
    <div class="login-signup-buttons">
      <button ibmButton="primary">Log In</button>
    </div>
    </form>

    <p class="login-helper-text">
      Don't have an account?
      <a routerLink='./signup'>Sign Up</a>
    </p> 

  </div>
</div>