<form 
[formGroup]="changePasswordForm" 
(ngSubmit)="onSubmit()">

<ibm-label
  [invalid]=false
  invalidText="Invalid password">
  <label>Old password</label>
  <input
    formControlName="oldPassword"
    ibmText
    size="md"
    theme="light"
    placeholder=""
    autocomplete="autocomplete"
  />
  </ibm-label>

  <ibm-label
  [invalid]=false
  invalidText="Invalid website address">
  <label>New password</label>
  <input
    formControlName="newPassword"
    ibmText
    size="md"
    theme="light"
  />
  </ibm-label>

  <ibm-label
  [invalid]=false
  invalidText="Passwords do not match">
  <label>Confirm new password</label>
  <input
    formControlName="confirmNewPassword"
    ibmText
    size="md"
    theme="light"
  />
  </ibm-label>

  <button type="submit" ibmButton="primary">Change Password</button>

</form>