<div class="login-signup-wrapper">

  <ibm-progress-indicator
    [steps]="steps"
    [current]="currentStep"
    spacing="equal">
  </ibm-progress-indicator>

  <div class="login-signup-container signup-container-width">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <h1>IGstagram Clone</h1>

      <p class="signup-helper-text">
        Have an account?
        <a routerLink='../'>Log In</a>
      </p> 

      <app-account-details *ngIf="currentStep === 0" [accountDetails]="currentGroup"> </app-account-details>
      <app-upload-image *ngIf="currentStep === 1" [uploadImage]="currentGroup"> </app-upload-image>
      <app-personal-details *ngIf="currentStep === 2" [personalDetails]="currentGroup"></app-personal-details>

      <button ibmButton="secondary" *ngIf="currentStep !== 0" (click)="prev()">Previous</button>
      <button ibmButton="primary" *ngIf="currentStep !== 2" (click)="next()">Next</button>
      <button ibmButton="primary" type="submit" *ngIf="currentStep === 2">Submit</button>

    </form>
   
  </div>
</div>
